<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="id1"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="handler.StartUp">
         </run>
      </application>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated parser -->
      <package
            uri="http://www.adesso.ais.parser.de"
            class="packageA.PackageAPackage"
            genModel="src/main/resources/model/parser.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated insure-parser-domain -->
      <package
            uri="http://de.adesso.ais.insure-parser"
            class="parser.IParserPackage"
            genModel="src/main/resources/model/insure-parser-domain.genmodel"/>
   </extension>

</plugin>
